{% extends "base.html" %}

{% block content %}
<title>The Fitness Factory | Memberships</title>

<section class="price-comparison">
    <div class="price-column">
        <div class="price-header">
            <div class="price">
                <div class="dollar-sign">$</div>
                14.99
                <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Basic</div>
        </div>
        <div class="divider"></div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            24 Hour Gym Access
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Locker Room and Sauna
        </div>
        <div class="feature inactive">
            <img src="static/x-square.svg" />
            Training Services
        </div>
        <div class="feature inactive">
            <img src="static/x-square.svg" />
            Pool Access
        </div>
        <div class="feature inactive">
            <img src="static/x-square.svg" />
            Indoor Tennis Court
        </div>
        <div class="feature inactive">
            <img src="static/x-square.svg" />
            Guest Access
        </div>
        <button class="cta" onclick="location.href = 'signup';" >Start Today</button>
    </div>
    <div class="price-column popular">
        <div class="most-popular">Most Popular</div>
        <div class="price-header">
            <div class="price">
                <div class="dollar-sign">$</div>
                19.99
                <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Premium</div>
        </div>
        <div class="divider"></div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            24 Hour Gym Access
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Locker Room and Sauna
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Training Services
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Pool Access
        </div>
        <div class="feature inactive">
            <img src="static/x-square.svg" />
            Indoor Tennis Court
        </div>
        <div class="feature inactive">
            <img src="static/x-square.svg" />
            Guest Access
        </div>
        <button class="cta" onclick="location.href = 'signup';" >Start Today</button>
    </div>
    <div class="price-column">
        <div class="price-header">
            <div class="price">
                <div class="dollar-sign">$</div>
                24.99
                <div class="per-month">/mo</div>
            </div>
            <div class="plan-name">Elite</div>
        </div>
        <div class="divider"></div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            24 Hour Gym Access
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Locker Room and Sauna
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Training Services
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Pool Access
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Indoor Tennis Court
        </div>
        <div class="feature">
            <img src="static/check-circle.svg" />
            Guest Access
        </div>
        <button class="cta" onclick="location.href = 'signup';" >Start Today</button>
    </div>
</section>

{% endblock %}