{% extends "base.html" %}

{% block content %}
<title>The Fitness Factory | Training Schedule</title>
<br>&nbsp;<br>
<div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?height=525&wkst=1&bgcolor=%23000000&ctz=America%2FNew_York&mode=WEEK&showTitle=0&showDate=0&showPrint=0&src=cDZ1MmdzMHZzOWlwZWxlbTMydm1mMGY5ZzRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23616161" 
    style="border-width:0" width="1100" height="525" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}

